  <div ui-view>
    <div class="row">
      <div class="jumbotron col-md-3 col-sm-4 col-md-offset-1 pants-profile">
        <div class="container">
          <div class="row">
            <div ng-if="!pant.hasPants">
              <div class="jumbotron col-md-10" id="pants-photo">
              </div>
            </div>    
            <div ng-if="pant.hasPants">
              <img class="profilePhoto col-md-12" src={{pant.pant.photos[0].imageUrl}}>
                <!-- <img class="profilePhoto col-md-12"ng-repeat="photo in pant.pant.photos" src={{photo.imageUrl}}> -->
            </div>   
          </div>
          <div class="row">
            <div class="input-group col-xs-12">
          <!--     <form id="photoForm">
                <div class="input-group col-xs-6 col-xs-offset-3">
                  <button
                    input-image
                    id="inputImage2"
                    append-data-uri
                    resize
                    resize-max-height="300"
                    resize-max-width="250"
                    resize-quality="0.7"
                    ng-model="image"
                    class="btn ">
                    Upload image
                  </button>
                </div>
                <br /> 
                <img ng-show="image" class="col-sm-12" ng-src="{{image.resized.dataURL}}"/>
                <input type="test" ng-show="image" class="form-control" ng-model="imageCaption" placeholder="Add a caption to your photo">
                <button 
                  type="submit"
                  class="btn btn-primary col-sm-12 input-group"
                  ng-show="image"
                  ng-click="pant.single(image.resized.dataURL, imageCaption); imageCaption=''; image=false"
                  ng-disabled="!image">
                  Submit
                </button>

              </form>
 -->            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron col-sm-7 pants-comments">
        <div class="row">
          <form class="col-md-10 col-md-offset-1">
          <div class="input-group">
             <input type="text" class="form-control" id="comment-field" ng-model="val" placeholder="What's your Pantasy story?">
              <img ng-show="image" ng-if="image"class="col-sm-12" ng-src="{{image.resized.dataURL}}"/>
             <span class="input-group-btn">
                  <button class="btn btn-primary" ng-if="image" ng-click="pant.single(image.resized.dataURL, val);$parent.image=false;$parent.val=''" type="submit">Submit</button>
                  <button class="btn btn-primary" ng-if="!image" ng-click="pant.newComment(val);$parent.val=''" type="submit">Submit</button>
             </span>
             <span class="input-group-btn">

               <button
                 input-image
                 id="inputImage2"
                 append-data-uri
                 resize
                 resize-max-height="300"
                 resize-max-width="250"
                 resize-quality="0.7"
                 ng-init="image=false"
                 ng-model="image"
                 class="btn form-control">
                 Image
               </button>
              </span>
            </form>
          </div>
        </div>
        <div class='row'>
          <div class="jumbotron col-md-10 col-md-offset-1 messages" id="messages">
              <article class="row" ng-repeat="comment in pant.pant.comments">
                  <div class="col-md-2 col-sm-2 hidden-xs">
                    <figure class="thumbnail">
                      <img class="img-responsive" src={{comment.profile}} />
                      <figcaption class="text-center">{{comment.name}}</figcaption>
                    </figure>
                  </div>
                  <div class="col-md-10 col-sm-10">
                    <div class="panel panel-default arrow left">
                      <div class="panel-body">
                        <header class="text-left">
                          <div class="comment-user username">{{comment.name}}</div>
                          <time class="comment-date timestamp">{{comment.created_at}}</time>
                        </header>
                        <div class="comment-post">
                            {{comment.text}}
                        </div>
                      <figure class="thumbnail">
                        <img class="img-responsive" ng-click="pant.showPhoto(comment.imageUrl)" src={{comment.imageUrl}} />
                      </figure>
                      </div>

                    </div>
                  </div>
                </article>
          </div>
        </div>
      </div>
    </div>  
  </div>
    
</div>



<!-- <div class="col-lg-12"><p>lorem ipsum dolor sit...more text here</p>
<img class="col-lg-3 img-responsive" src="https://dl.dropboxusercontent.com/u/30198996/Treehouse/images/treehouse-blog.png">
</div> -->