<div ui-view>
  <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Pantasy</a>
        </div>
        <ul class="nav navbar-nav">
          <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            My Pants <span class="caret"></span>
          </a>
            <ul ng-if="pant.pants.length"class="dropdown-menu">
              <li class="pant-menu text-center" ng-repeat="pant in pant.pants"><a ng-href="/p/{{pant}}">{{pant}}</a></li>

            </ul>
          </li>
          <li><a ng-if="!pant.authenticated" href="/auth/facebook">Log in</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://www.givepantasy.com">Buy Pants</a></li>
        </ul>
      </div>
  </nav>



  <div class="row">
    <div class="jumbotron col-md-3 col-sm-4 col-md-offset-1 pants-profile">
      <div class="container">
        <div class="row">
          <div ng-if="!pant.hasImage">
            <div class="jumbotron col-md-10" id="pants-photo">
            </div>
          </div>    
          <div ng-if="pant.hasImage">
            <figure class="thumbnail" id='profile-frame'>
              <img class="profilePhoto img-responsive" ng-src={{pant.profile}}>
            </figure>
          </div>   
        </div>
      </div>
    </div>
    <div class="jumbotron col-sm-7 pants-comments">
      <div class="row">
        <form class="col-md-10 col-md-offset-1">
        <div class="input-group">
           <input type="text" class="form-control" id="comment-field" ng-model="val" placeholder="What's your Pantasy story?">
            <img ng-show="image" ng-if="image"class="col-sm-12" ng-src="{{image.resized.dataURL}}"/>
           <span class="input-group-btn">
                <button class="btn btn-primary" ng-if="image" ng-click="pant.single(image.resized.dataURL, val);$parent.image=false;$parent.val=''" type="submit">Submit</button>
                <button class="btn btn-primary" ng-if="!image" ng-click="pant.newComment(val);$parent.val=''" type="submit">Submit</button>
           </span>
           <span class="input-group-btn">

             <button
               input-image
               id="inputImage2"
               append-data-uri
               resize
               resize-max-height="500"
               resize-max-width="450"
               resize-quality="0.7"
               ng-init="image=false"
               ng-model="image"
               class="btn form-control">
               Image
             </button>
            </span>
          </form>
      <span us-spinner ng-if="pant.uploading"></span>
        </div>
      </div>

       <div ng-repeat="feed in (feedLoader = (feeds | limitTo:feedLimit))">
    <p>{{feed.content}}</p>
  </div>

      <div class='row'>
        <div class="jumbotron col-md-10 col-md-offset-1 messages" id="messages">
            <article class="row" ng-repeat="comment in pant.pant.comments | limitTo:pant.feedLimit">
                <div class="col-md-2 col-sm-2 hidden-xs">
                  <figure class="thumbnail">
                    <img class="img-responsive" ng-src={{comment.profile}} />
                    <figcaption class="text-center">{{comment.name}}</figcaption>
                  </figure>
                </div>
                <div class="col-md-10 col-sm-10">
              <span ng-if="comment.userID === pant.userId" ng-click="pant.removeComment(comment)"class="glyphicon glyphicon-remove delete" aria-hidden="true"></span>
                  <div class="panel panel-default arrow left">
                    <div class="panel-body">
                      <header class="text-left">
                        <div class="comment-user username">{{comment.name}}</div>
                        <time class="comment-date timestamp">{{comment.reformattedCreated_at}}</time>
                      </header>
                      <div class="comment-post">
                          {{comment.text}}
                      </div>
                    <figure ng-if="comment.imageUrl" class="thumbnail">
                    <!--ng-click="pant.showPhoto(comment.imageUrl)" -->
                      <img class="img-responsive" ng-src={{comment.imageUrl}} />
                    </figure>
                    </div>

                  </div>
                </div>
              </article>
              <button class="btn btn-info btn-xs center-block" ng-if="pant.hasPants" ng-click="pant.handleMore()">Show more...</button>
        </div>
      </div>
    </div>
  </div>  
</div>




<!-- <div class="col-lg-12"><p>lorem ipsum dolor sit...more text here</p>
<img class="col-lg-3 img-responsive" src="https://dl.dropboxusercontent.com/u/30198996/Treehouse/images/treehouse-blog.png">
</div> -->